<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/module/public/styles.css" />

    <title>Ehiz Blog | <%= title %></title>
    
  </head>

  <body>

        <%- include('partials/header.ejs') %>
        <%- include('partials/nav.ejs') %>
      <p>
        WELCOME TO A SMALL WORLD BECAUSE WE BRING THINGS CLOSER TO YOUR FINGERS
      </p>

      <% if ( blogs.length > 0) { %>
        <% blogs.forEach(blogs => {%> 
          <a class="single" href= "/blogs/<%= blogs._id%>">
        <h3 class="title"> <%= blogs.title %></h3>
        <h2 class="snippet"> <%= blogs.snippet %></h2>
        </a>
        <% }) %>
      <% } else { %>
          <p> this page is nowhere to be found ), </p>
        <% } %>

        <%- include('partials/footer.ejs') %>
       
       

        
      
    
  </body>
</html>
